@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.content {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 62rem;
  /* padding: 0px 0.5rem; */
}
.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.center-box {
  position: relative;
  display: flex;
  height: 44rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.img-container {
  display: flex;
  justify-content: center;
  min-height: 13rem;
}

.banner-img {
  position: relative;
  width: 90vw;
  max-height: 20rem;
}

.shabby-container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  /* position: absolute; */
  height: 40rem;
  width: 100%;
}

.shabby {
  position: relative;
  height: 50%;
  border-radius: 10rem;
  box-shadow: 0px 0px 15px black;
  z-index: 10;
}

.shabbyfade {
  animation: fadeIn 6s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

.header-text-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  left: 15rem;
  top: 5rem;
  width: 60vw;
  height: 25rem;
  border: 3px solid black;
  border-radius: 3rem;
  gap: 3rem;
  padding: 0px 3rem;
  box-shadow: 0px 5px 15px black;
  /* box-shadow: 5px 5px 10px black; */
}

.line-fade {
  animation: lineIn 1.5s ease-in forwards;
}

@keyframes lineIn {
  0% {
    opacity: 0.1;
    transform: translateY(-0.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0.25rem);
  }
}

.line1,
.line2,
.line3 {
  font-family: "Press Start 2P", sans-serif;
  display: inline-block;
  font-size: 2vw;
  font-weight: 900;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 60vw;
  height: 10rem;
  left: 35rem;
  top: 50rem;
}

.go {
  border-radius: 1rem;
  height: 50%;
  padding: 0px 2rem;
  margin-left: 12rem;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.2vw;
  color: black;
  background-color: white;
  font-weight: 800;
  border: 3px solid black;
  box-shadow: 0px 0px 10px black;
}

.go-text {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 2.5rem;
  text-decoration: none;
  color: black;
  font-family: "Press Start 2P", sans-serif;
  overflow: hidden;
}

.no {
  border-radius: 1rem;
  height: 50%;
  padding: 0px 2rem;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.2vw;
  background-color: white;
  font-weight: 800;
  color: black;
  border: 3px solid black;
  box-shadow: 0px 0px 10px black;
}

.no-href {
  color: black;
  text-decoration: none;
}

.go:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: white;
}

.no:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/*Boot Screen */

.bootscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: linear-gradient(#00ffa3, #03e1ff, #dc1fff, #306a9c);
}

.progress {
  position: relative;
  height: 30px;
  width: 50vw;
  border: 10px solid #ff0000;
  border-radius: 15px;
}
.progress .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 5s ease forwards;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

.loadingtext {
  font-family: "Press Start 2P", sans-serif;
  display: inline-block;
  font-size: 2vw;
  font-weight: 900;
}

/* Section 2 */

.expectations {
  position: absolute;
  top: 65rem;
  width: 100%;
  height: 63rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header-text-box2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  left: 15rem;
  top: 5rem;
  width: 60vw;
  height: 35rem;
  border: 3px solid black;
  border-radius: 3rem;
  gap: 3rem;
  padding: 0px 3rem;
  box-shadow: 0px 5px 15px black;
  /* box-shadow: 5px 5px 10px black; */
  background-color: white;
  z-index: 10;
}

.shabby2 {
  position: relative;
  left: 10rem;
  height: 15rem;
  border-radius: 10rem;
  box-shadow: 0px 0px 15px black;
  z-index: 10;
}

.chartbg {
  position: absolute;
  width: 110%;
}

#expect {
  visibility: hidden;
  position: absolute;
  top: 20rem;
}

.fa-hand-point-down {
  position: relative;
  color: white;
  font-size: 2.5rem;
  padding: 0.75rem;
  z-index: 40;
  top: 20rem;
  background-color: black;
  border-radius: 3rem;
  box-shadow: 0px 0px 10px black;
  animation: hover 1.5s linear infinite;
}

.fa-hand-point-down:hover {
  background-color: green;
  cursor: pointer;
}

/* Section 3 */

.instructions {
  position: absolute;
  top: 128rem;
  height: 63rem;
  width: 100%;
  overflow: hidden;
  /* border-bottom: 1px solid black; */
}

#expect {
  visibility: hidden;
  position: absolute;
  top: 2rem;
}

.chad {
  position: absolute;
  top: 10vh;
  left: 70vw;
  z-index: 1;
  width: 50vw;
}

.payment-modal {
  position: relative;
  left: 10rem;
  top: 5rem;
  width: 60vw;
  height: 35rem;
  border-top: 1px solid black;
  border: 3px solid black;
  border-radius: 3rem;
  box-shadow: 0px 0px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#00ffa3, #03e1ff, #dc1fff, #306a9c);
  z-index: 2;
}

.payment-modal2 {
  width: 95%;
  height: 34rem;
  border-top: 1px solid black;
  border: 1px solid black;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px black;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  position: relative;
  width: 33%;
  background-color: white;
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-right: 1px solid black;
}

.box1-title {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 900;
  font-size: 1.3vw;
}

.labelstyle {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 900;
  font-size: 1vw;
}

#blockchains {
  border: 2px solid red;
  border-radius: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-family: "Press Start 2P", sans-serif;
}

.box1-subtitle {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 900;
  font-size: 1.3vw;
  text-align: center;
}

.hrule {
  width: 80%;
  left: 5%;
}

.box2 {
  position: relative;
  width: 33%;
  height: 97%;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.transfer-sum-text {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 900;
  font-size: 1vw;
  text-align: center;
}

.transfer-sum {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 900;
  font-size: 1vw;
  text-align: center;
}

.transfer-cur {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 900;
  font-size: 1vw;
  text-align: center;
}

#address-box {
  font-family: "Press Start 2P", sans-serif;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  width: 90%;
}

.to {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 900;
  font-size: 1vw;
  text-align: center;
}

.addy-copied {
  color: red;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 900;
  font-size: 0.81rem;
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 31rem;
}

.addy-animate {
  animation: slideDown 3s linear forwards;
}

@keyframes slideDown {
  from {
    opacity: 100;
    transform: translateY(-0.6rem);
  }
  to {
    opacity: 0;
    transform: translateY(0.6rem);
  }
}

.box2-title {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 900;
  font-size: 1.3vw;
  text-align: center;
}

.box3 {
  position: relative;
  width: 33%;
  /* background-color: green; */
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.box3-title {
  font-family: "Press Start 2P", sans-serif;
  font-weight: 900;
  font-size: 1.3vw;
  text-align: center;
  padding: 0rem 0.3rem;
}

.got-hash {
  padding: 1rem 2rem;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 0.3rem;
  width: 100%;
}

.find-hash-href {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: black;
}

.find-hash {
  padding: 1rem 2rem;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 0.3rem;
  width: 90%;
}
.find-hash:hover {
  cursor: pointer;
  background-color: #696bb2;
  color: white;
}

.got-hash:hover {
  cursor: pointer;
  background-color: #35aa5c;
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.pay-form {
  position: absolute;
  top: 191rem;
  width: 100%;
  height: 63rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(white, gray);
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  height: 35rem;
  border: 3px solid black;
  border-radius: 3rem;
  gap: 2rem;
  padding: 0px 3rem;
  box-shadow: 0px 5px 15px black;
  background-color: rgb(6, 4, 4);
  z-index: 10;
}

.tx-hash {
  color: white;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 0.3rem;
  width: 90%;
  padding: 1rem 0rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-text {
  display: inline-block;
  color: white;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 0.3rem;
  width: 100%;
  padding: 3rem 0rem;
}

.tx-input {
  color: black;
  font-family: "Press Start 2P", sans-serif;
  padding: 1rem 2rem;
  min-width: 70%;
}

.email-input {
  color: black;
  font-family: "Press Start 2P", sans-serif;
  padding: 1rem 2rem;
  min-width: 70%;
}

.submit-form-button {
  min-width: 40%;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  border-radius: 0.3rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.submit-form-button:hover {
  cursor: pointer;
  background-color: rgb(98, 169, 187);
}

.form-down {
  text-decoration: none;
  color: black;
  width: 100%;
  /* background-color: green; */

  display: inline-block;
  width: 90%;
  text-decoration: none;
  color: black;
}

#form {
  visibility: hidden;
  position: absolute;
  top: 2rem;
}

.thankyou {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  height: 35rem;
  border: 3px solid black;
  border-radius: 3rem;
  gap: 2rem;
  padding: 0px 3rem;
  box-shadow: 0px 5px 15px black;
  background-color: rgb(6, 4, 4);
  z-index: 10;
}

.confirmation {
  font-size: 2rem;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  padding: 1rem 2rem;
  width: 70%;
}

.confirmation2 {
  color: white;
  font-family: "Press Start 2P", sans-serif;
  padding: 1rem 2rem;
  width: 70%;
}

.shabby-originals {
  color: white;
  font-family: "Press Start 2P", sans-serif;
  padding: 1rem 2rem;
  width: 90%;
  position: absolute;
  color: black;
  bottom: 1rem;
  text-align: center;
}

.tx-error {
  padding: 1rem 2rem;
  color: red;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
}

.email-error {
  padding: 1rem 2rem;
  color: red;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
}

/* Media Queries */
@media screen and (max-width: 1500px) {
  .shabby2 {
    left: 5rem;
  }
}

@media screen and (max-width: 1250px) {
  .line1,
  .line2,
  .line3 {
    font-size: 2.5vw;
  }
  .go-text {
    font-size: 1rem;
    display: inline-block;
    width: 100%;
  }
  .go {
    padding: 0px 1.5rem;
    min-width: 10rem;
  }
  .no {
    padding: 0px 1.5rem;
    min-width: 10rem;
    font-size: 1rem;
    display: inline-block;
  }

  #blockchains {
    width: 70%;
    padding: 0;
  }
  .chad {
    width: 40vw;
    left: 40rem;
    top: 15rem;
  }
}

@media screen and (max-width: 1000px) {
  .shabby2 {
    left: 3rem;
    height: 10rem;
  }
}

@media screen and (max-width: 970px) {
  .loadingtext {
    font-size: 3vw;
  }
  .button-container {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .go {
    margin: 0;
  }
}

@media screen and (max-width: 850px) {
  .thankyou {
    width: 90%;
  }
  .confirmation {
    padding: 0;
  }
  .confirmation2 {
    padding: 0;
  }

}

@media screen and (max-width: 800px) {
  .loadingtext {
    font-size: 3vw;
  }
  .shabby {
    height: 40%;
  }
  .chad {
    width: 40vw;
    left: 34rem;
    top: 15rem;
  }
  .box1-title {
    font-size: 2vw;
  }
  .box1-subtitle {
    font-size: 2vw;
  }
  .labelstyle {
    font-size: 2vw;
  }
  .box2-title {
    font-size: 2vw;
  }
  .transfer-sum-text {
    font-size: 2vw;
  }
  .transfer-sum {
    font-size: 2vw;
  }
  .transfer-cur {
    font-size: 2vw;
  }
  .to {
    font-size: 2vw;
  }
  #address-box {
    font-size: 9px;
  }
  .box3-title {
    font-size: 1.7vw;
    padding: 0rem;
    text-align: center;
  }
  .got-hash {
    font-size: 1.5vw;
    font-weight: 900;
  }
  .find-hash-href {
    font-size: 1.5vw;
    font-weight: 900;
  }
}

@media screen and (max-width: 700px) {
  .go {
    padding: 0px 0.5rem;
    width: 2rem;
  }
  .no {
    padding: 0px 0.5rem;
    width: 2rem;
  }
  .line1,
  .line2,
  .line3 {
    font-size: 3vw;
  }
  .chartbg {
    position: absolute;
    width: 300%;
  }
  .shabby2 {
    top: -18rem;
    left: 1rem;
  }
  .header-text-box2 {
    padding: 0px 1rem;
  }
  .fa-hand-point-down {
    left: -5rem;
    top: 12rem;
  }

  .chad {
    width: 70vw;
    left: 65vw;
  }
  .payment-modal {
    width: 70vw;
    left: 15vw;
  }
  .payment-modal2 {
    height: 33rem;
  }
  .addy-copied {
    top: 29rem;
  }
  .tx-input {
    width: 50%;
  }
  .email-input {
    width: 50%;
  }
  .submit-form-button {
    margin: 0;
  }
  form {
    width: 120%;
  }
  .email-text {
    padding: 1rem 0.3rem;
  }
}

@media screen and (max-width: 600px) {
  .loadingtext {
    font-size: 3vw;
  }
  .shabby {
    height: 30%;
  }
}

@media screen and (max-width: 500px) {
  .loadingtext {
    font-size: 3vw;
  }
  .shabby {
    top: -5rem;
    height: 15%;
    left: -1rem;
    position: relative;
  }
  .header-text-box {
    position: relative;
    left: 0rem;
    top: -3rem;
    gap: 0.3;
    width: 80vw;
  }
  .button-container {
    top: 38rem;
    gap: 20px;
    height: 15rem;
  }
  .center-box {
    top: -2rem;
  }
  .go {
    height: 3rem;
  }
  .no {
    height: 3rem;
    font-size: 0.9rem;
  }
  .line1,
  .line2,
  .line3 {
    font-size: 4vw;
  }

  .shabby-container {
    padding-left: 1rem;
    gap: 0;
    margin: 0;
  }

  .go-text {
    padding: 0;
  }
  .content {
    height: 56rem;
  }
  .header-text-box2 {
    margin-top: 17rem;
    height: 40rem;
  }

  .shabby2 {
    left: 1rem;
    top: -10rem;
    height: 11%;
  }
  .fa-hand-point-down {
    left: -3rem;
    top: 22rem;
  }
  .payment-modal {
    left: 15vw;
  }
  .payment-modal2 {
    height: 32rem;
  }
  .chad {
    width: 45vw;
    height: 40%;
    left: 70vw;
  }
  .addy-copied {
    top: 28rem;
  }
}

@media screen and (max-width: 450px) {
  .loadingtext {
    font-size: 3vw;
  }
  .shabby {
    top: -5rem;
    left: 2rem;
    height: 20%;
  }
  .shabby-container {
    flex-direction: row;
    gap: 0;
    display: flex;
  }
  .header-text-box {
    position: relative;
    left: -3rem;
    top: 3rem;
    gap: 0.3;
    width: 80vw;
  }
  .header-text-box2 {
    margin-left: 2rem;
  }
  .box1-title {
    font-size: 2.5vw;
  }
  .box1-subtitle {
    font-size: 2.5vw;
  }
  .labelstyle {
    font-size: 2vw;
  }
  .box2-title {
    font-size: 2.2vw;
  }
  .transfer-sum-text {
    font-size: 2.5vw;
  }
  .transfer-sum {
    font-size: 2.5vw;
  }
  .transfer-sum {
    font-size: 2.5vw;
  }
  .to {
    font-size: 2.5vw;
  }
  .box3-title {
    font-size: 2vw;
  }
  .got-hash {
    padding: 0px 0.3rem;
    font-size: 2.3vw;
  }
  .find-hash {
    padding: 0px 0.5rem;
    font-size: 3.7vw;
  }
  .tx-hash {
    font-size: 3.5vw;
  }
  .email-text {
    font-size: 3.5vw;
  }
  .form-box {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .shabby2 {
    height: 11%;
  }
}
