@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 60rem;
  /* padding: 0px 0.5rem; */
}
.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.center-box {
  position: relative;
  display: flex;
  height: 42rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.img-container {
  display: flex;
  justify-content: center;
  min-height: 13rem;
}

.banner-img {
  position: relative;
  width: 90vw;
  max-height: 20rem;
}

.shabby-container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  /* position: absolute; */
  height: 40rem;
  width: 100%;
}

.shabby {
  left: 10rem;
  height: 50%;
  border-radius: 10rem;
  box-shadow: 0px 0px 15px black;
}

.shabbyfade {
  animation: fadeIn 6s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

.header-text-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  left: 15rem;
  top: 5rem;
  width: 60vw;
  height: 25rem;
  border: 3px solid black;
  border-radius: 3rem;
  gap: 3rem;
  padding: 0px 3rem;
  box-shadow: 0px 5px 15px black;
  /* box-shadow: 5px 5px 10px black; */
}

.line-fade {
  animation: lineIn 1.5s ease-in forwards;
}

@keyframes lineIn {
  0% {
    opacity: 0.1;
    transform: translateY(-0.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0.25rem);
  }
}

.line1,
.line2,
.line3 {
  font-family: "Press Start 2P", sans-serif;
  display: inline-block;
  font-size: 2vw;
  font-weight: 900;
}

.button-container {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 60vw;
  height: 10rem;
  left: 35rem;
  top: 50rem;
}

.go {
  border-radius: 1rem;
  height: 50%;
  padding: 0px 2rem;
  margin-left: 12rem;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.2vw;
  color: black;
  background-color: white;
  font-weight: 800;
  border: 3px solid black;
  box-shadow: 0px 0px 10px black;
}

.no {
  border-radius: 1rem;
  height: 50%;
  padding: 0px 2rem;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.2vw;
  background-color: white;
  font-weight: 800;
  color: black;
  border: 3px solid black;
  box-shadow: 0px 0px 10px black;
}

.no-href {
  color: black;
  text-decoration: none;
}

.go:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: white;
}

.no:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/*Boot Screen */

.bootscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#00ffa3, #03e1ff, #dc1fff, #306a9c);
}

.progress {
  position: relative;
  height: 30px;
  width: 50vw;
  border: 10px solid #ff0000;
  border-radius: 15px;
}
.progress .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 5s ease forwards;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

.loadingtext {
  font-family: "Press Start 2P", sans-serif;
  display: inline-block;
  font-size: 2vw;
  font-weight: 900;
}

/* Section 2 */

.expectations {
  /* overflow: scroll; */
  position: absolute;
  top: 65rem;
  width: 100%;
  height: 63rem;
  background-color: red;
}
