@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.content {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 62rem;
  /* padding: 0px 0.5rem; */
}
.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}

.center-box {
  position: relative;
  display: flex;
  height: 44rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.img-container {
  display: flex;
  justify-content: center;
  min-height: 13rem;
}

.banner-img {
  position: relative;
  width: 90vw;
  max-height: 20rem;
}

.shabby-container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  /* position: absolute; */
  height: 40rem;
  width: 100%;
}

.shabby {
  position: relative;
  height: 50%;
  border-radius: 10rem;
  box-shadow: 0px 0px 15px black;
  z-index: 10;
}

.shabbyfade {
  animation: fadeIn 6s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

.header-text-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  left: 15rem;
  top: 5rem;
  width: 60vw;
  height: 25rem;
  border: 3px solid black;
  border-radius: 3rem;
  gap: 3rem;
  padding: 0px 3rem;
  box-shadow: 0px 5px 15px black;
  /* box-shadow: 5px 5px 10px black; */
}

.line-fade {
  animation: lineIn 1.5s ease-in forwards;
}

@keyframes lineIn {
  0% {
    opacity: 0.1;
    transform: translateY(-0.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0.25rem);
  }
}

.line1,
.line2,
.line3 {
  font-family: "Press Start 2P", sans-serif;
  display: inline-block;
  font-size: 2vw;
  font-weight: 900;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 60vw;
  height: 10rem;
  left: 35rem;
  top: 50rem;
}

.go {
  border-radius: 1rem;
  height: 50%;
  padding: 0px 2rem;
  margin-left: 12rem;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.2vw;
  color: black;
  background-color: white;
  font-weight: 800;
  border: 3px solid black;
  box-shadow: 0px 0px 10px black;
}

.go-text {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0.5rem 2.5rem;
  text-decoration: none;
  color: black;
  font-family: "Press Start 2P", sans-serif;
  overflow: hidden;
}

.no {
  border-radius: 1rem;
  height: 50%;
  padding: 0px 2rem;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.2vw;
  background-color: white;
  font-weight: 800;
  color: black;
  border: 3px solid black;
  box-shadow: 0px 0px 10px black;
}

.no-href {
  color: black;
  text-decoration: none;
}

.go:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: white;
}

.no:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/*Boot Screen */

.bootscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: linear-gradient(#00ffa3, #03e1ff, #dc1fff, #306a9c);
}

.progress {
  position: relative;
  height: 30px;
  width: 50vw;
  border: 10px solid #ff0000;
  border-radius: 15px;
}
.progress .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 5s ease forwards;
}
@keyframes progres {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

.loadingtext {
  font-family: "Press Start 2P", sans-serif;
  display: inline-block;
  font-size: 2vw;
  font-weight: 900;
}

/* Section 2 */

.expectations {
  position: absolute;
  top: 65rem;
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  overflow: hidden;
}

.header-text-box2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  left: 15rem;
  top: 5rem;
  width: 60vw;
  height: 35rem;
  border: 3px solid black;
  border-radius: 3rem;
  gap: 3rem;
  padding: 0px 3rem;
  box-shadow: 0px 5px 15px black;
  /* box-shadow: 5px 5px 10px black; */
  background-color: white;
  z-index: 10;
}

.shabby2 {
  position: relative;
  left: 10rem;
  height: 15rem;
  border-radius: 10rem;
  box-shadow: 0px 0px 15px black;
  z-index: 10;
}

.chartbg {
  position: absolute;
  width: 110%;
}

#expect {
  font-family: "Press Start 2P", sans-serif;
}

/* Media Queries */
@media screen and (max-width: 1500px) {
  .shabby2 {
    left: 5rem;
  }
}

@media screen and (max-width: 1250px) {
  .line1,
  .line2,
  .line3 {
    font-size: 2.5vw;
  }
  .go-text {
    font-size: 1rem;
    display: inline-block;
    width: 100%;
  }
  .go {
    padding: 0px 1.5rem;
    min-width: 10rem;
  }
  .no {
    padding: 0px 1.5rem;
    min-width: 10rem;
    font-size: 1rem;
    display: inline-block;
  }
}

@media screen and (max-width: 1000px) {
  .shabby2 {
    left: 3rem;
    height: 10rem;
  }
}

@media screen and (max-width: 970px) {
  .loadingtext {
    font-size: 3vw;
  }
  .button-container {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .go {
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .loadingtext {
    font-size: 3vw;
  }
  .shabby {
    height: 40%;
  }
}

@media screen and (max-width: 700px) {
  .go {
    padding: 0px 0.5rem;
    width: 2rem;
  }
  .no {
    padding: 0px 0.5rem;
    width: 2rem;
  }
  .line1,
  .line2,
  .line3 {
    font-size: 3vw;
  }
  .chartbg {
    position: absolute;
    width: 300%;
  }
  .shabby2 {
    top: -18rem;
    left: 1rem;
  }
  .header-text-box2 {
    padding: 0px 1rem;
  }
}

@media screen and (max-width: 600px) {
  .loadingtext {
    font-size: 3vw;
  }
  .shabby {
    height: 30%;
  }
}

@media screen and (max-width: 500px) {
  .loadingtext {
    font-size: 3vw;
  }
  .shabby {
    top: -5rem;
    height: 15%;
    left: -1rem;
    position: relative;
  }
  .header-text-box {
    position: relative;
    left: 0rem;
    top: -3rem;
    gap: 0.3;
    width: 80vw;
  }
  .button-container {
    top: 38rem;
    gap: 20px;
    height: 15rem;
  }
  .center-box {
    top: -2rem;
  }
  .go {
    height: 3rem;
  }
  .no {
    height: 3rem;
    font-size: 0.9rem;
  }
  .line1,
  .line2,
  .line3 {
    font-size: 4vw;
  }

  .shabby-container {
    padding-left: 1rem;
    gap: 0;
    margin: 0;
  }

  .go-text {
    padding: 0;
  }
  .content {
    height: 56rem;
  }
  .header-text-box2 {
    margin-top: 17rem;
    height: 40rem;
  }

  .shabby2 {
    left: 1rem;
    top: -10rem;
    height: 11%;
  }
}

@media screen and (max-width: 450px) {
  .loadingtext {
    font-size: 3vw;
  }
  .shabby {
    top: -5rem;
    left: 2rem;
    height: 20%;
  }
  .shabby-container {
    flex-direction: row;
    gap: 0;
    display: flex;
  }
  .header-text-box {
    position: relative;
    left: -3rem;
    top: 3rem;
    gap: 0.3;
    width: 80vw;
  }
}

@media screen and (max-width: 400px) {
  .shabby2 {
    height: 11%;
  }
}
